<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if length > 0 %}
    <h1>Failed Checks!</h1>
        <table>
            <tr>
                <th>Tenant</th>
                <th>Customer</th>
                <th>Error</th>
                <th>Home</th>
            </tr>

            {% for entries in err %}
            <tr>
                <td>{{ entries.Tenant}}</td>
                <td>{{ entries.Customer}}</td>
                <td>{{ entries.Error}}</td>
                <td><a href="{{ entries.Home}}">Go to Tenant</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
